//typhografy
body{
    font-family: $parrafo-font-family;
}
trix-editor{
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
}
.bg-primary .navbar-brand{
color: aliceblue;
font-family: font-family-sans-serif;
&:hover{
    color:white
}
}
.icono{
    width: 25px;
}